<section>
	<form (ngSubmit)="login()" ngNativeValidate>
		<h1>Login into Movie Fantasy</h1>
		<div *ngIf="error">
			<p class="error">{{ error }}</p>
		</div>
		<div>
			<label>Enter email</label> <br>
			<input type="email" [(ngModel)]="user.email" name="email" placeholder="email" autocomplete="off">
		</div>
		<div>
			<label>Enter password</label> <br>
			<input type="password" [(ngModel)]="user.password" name="password" placeholder="password">
		</div>
		<div>
			<button type="submit" class="primary-btn">Login</button>
		</div>
		<div class="divider"></div>
		<div>
			<button type="button" class="google-btn" (click)="googleLogin()">
				<img src="assets/img/google.svg">&nbsp;&nbsp;&nbsp;Continue with Google
			</button>
		</div>
	</form>
</section>