$primary: #fdba1e;
$primary-hover: #e9aa18f1;

$accent: #5ccfdb;
$accent-hover: #5ccedbe3;
$accent-light: #5ccedb23;

$red: #e83749;
$red-hover: #e83749f1;
$red-bg: #e8374925;

$bg: #21252B;
$navbar-bg: #33383f;
$text: #e2fcff;
$light: #f8f8f8;

$radius: 2px;
$shadow: 0 0 10px rgba(20, 20, 20, 0.438);
